<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Appointments</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>

        <li class="nav-item" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdownManagement" role="button">Management</a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdownManagement" class="dropdown-menu dropdown-menu-start">
            <a ngbDropdownItem (click)="$event.preventDefault()" routerLink="management/area">Areas</a>
            <a ngbDropdownItem (click)="$event.preventDefault()" routerLink="management/professional">Professionals</a>
            <a ngbDropdownItem (click)="$event.preventDefault()" routerLink="management/appointment-type">Appointment Types</a>
            <hr class="dropdown-divider">
            <a ngbDropdownItem (click)="$event.preventDefault()" routerLink="management/client">Clients</a>
            <hr class="dropdown-divider">
            <a ngbDropdownItem (click)="$event.preventDefault()" routerLink="management/user">Users</a>
          </div>
        </li>

        <li class="nav-item" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdownAppointments"
            role="button">Appointments</a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdownAppointments" class="dropdown-menu dropdown-menu-start">
            <a ngbDropdownItem (click)="$event.preventDefault()" routerLink="schedule/today-appointment">Today’s Appointments</a>
            <a ngbDropdownItem (click)="$event.preventDefault()">Schedule Appointment</a>
            <a ngbDropdownItem (click)="$event.preventDefault()">Cancel Appointment</a>
            <hr class="dropdown-divider">
            <a ngbDropdownItem (click)="$event.preventDefault()">Client History</a>
            <hr class="dropdown-divider">
            <a ngbDropdownItem (click)="$event.preventDefault()">Professional Schedule</a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <div class="d-flex">
          <div class="my-auto me-3">
            Attendant: <span class="fw-bold">John Doe</span>
          </div>
          <button class="btn btn-outline-secondary" type="submit">Logout</button>
        </div>
      </ul>
    </div>
  </div>
</nav>
