<app-page-layout title="Clients Registration">
  <app-button layout-button buttonName="New Client" [routerLink]="form"></app-button>

  <app-search-input placeholder="Search clients name" (search)="filterClients($event)"></app-search-input>

  @if (clientPage().content.length > 0) {
  <app-table>
    <tr table-head>
      <th scope="col">
        <app-sort-button [active]="sort() === 'id'" (clicked)="sort.set('id')">
          #
        </app-sort-button>
      </th>
      <th scope="col">
        <app-sort-button [active]="sort() === 'name'" (clicked)="sort.set('name')">
          Full Name
        </app-sort-button>
      </th>
      <th scope="col">
        <app-sort-button [active]="sort() === 'phone'" (clicked)="sort.set('phone')">
          Phone Number
        </app-sort-button>
      </th>
      <th scope="col">
        <app-sort-button [active]="sort() === 'dateOfBirth'" (clicked)="sort.set('dateOfBirth')">
          Date of Birth
        </app-sort-button>
      </th>
      <th scope="col">Actions</th>
    </tr>

    <ng-container table-body>
      @for (client of clientPage().content; track $index) {
      <tr class="table-row-hover" [routerLink]="[form, client.id]">
        <th scope="row" class="text-muted">{{ client.id }}</th>
        <td class="fw-semibold">{{ client.name }}</td>
        <td>{{ client.phone }}</td>
        <td>{{ client.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button class="btn btn-sm" (click)="deleteClient(client, modalConfirm); $event.stopPropagation()">
            <i class="bi bi-trash-fill fs-5"></i>
          </button>
        </td>
      </tr>
      }
    </ng-container>
  </app-table>

  <div class="d-flex justify-content-center mt-3">
    <ngb-pagination [collectionSize]="clientPage().totalElements" [(page)]="page" />
  </div>
  } @else {
  <app-card icon="bi-person-x" title="No clients found" message="Try a different search or add a new client"></app-card>
  }

</app-page-layout>

<app-modal #modalConfirm title="Delete Client">
  @if (selectedClient) {
  <p>Are you sure you want to delete <span class="fw-bold">{{ selectedClient.name }}</span>?</p>
  }
  <ng-container modal-footer>
    <app-button btnClass="btn btn-outline-secondary" buttonName="Cancel" (click)="modalConfirm.close(false)" />
    <app-button buttonName="Delete" (click)="modalConfirm.close(true)" />
  </ng-container>
</app-modal>
