<app-modal title="Confirm Appointment?">
  <div class="alert alert-secondary">
    <div class="row mb-1">
      <div class="col-4 text-muted">Client:</div>
      <div class="col-8 fw-bold">{{ appointment().client.name }}</div>
    </div>
    <div class="row mb-1">
      <div class="col-4 text-muted">Date:</div>
      <div class="col-8 fw-bold">{{ appointment().date | date: 'dd/MM/yyyy' }}</div>
    </div>
    <div class="row">
      <div class="col-4 text-muted">Time:</div>
      <div class="col-8 fw-bold">{{ appointment().startTime }}</div>
    </div>
  </div>
  <div class="alert alert-secondary">
    <div class="row mb-1">
      <div class="col-4 text-muted">Area:</div>
      <div class="col-8 fw-bold">{{ appointment().area.name }}</div>
    </div>
    <div class="row mb-1">
      <div class="col-4 text-muted">Professional:</div>
      <div class="col-8 fw-bold">{{ appointment().professional.name }}</div>
    </div>
    <div class="row mb-1">
      <div class="col-4 text-muted">Appointment Type:</div>
      <div class="col-8 fw-bold">{{ appointment().appointmentType.type }}</div>
    </div>
    <div class="row">
      <div class="col-4 text-muted">Notes:</div>
      <div class="col-8 fw-bold">{{ appointment().comments || '-' }}</div>
    </div>
  </div>

  <ng-container modal-footer>
    <app-button btnClass="btn btn-outline-secondary" buttonName="Back" (click)="modal.close(false)" />
    <app-button buttonName="Confirm" (click)="modal.close(true)" />
  </ng-container>
</app-modal>
